<!-- <h1 class="text-center">Formulario de Registro</h1>
<h2 class="text-center">Formulario Reactivo</h2>

<section class="container-sm">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <section class="form-group m-3">
            <label for="dni">Dni:</label>
            <input type="text" maxlength="8" class="form-control" formControlName="dni"
            [ngStyle]="{'border-color': dni?.invalid && (dni?.dirty || dni?.touched)?'red':'gray'}">
            <section *ngIf="dni?.invalid && (dni?.dirty || dni?.touched)">
            <section *ngIf="dni?.errors?.['required']" class="alert alert-success">
            El DNI es obligatorio
            </section>
            <section *ngIf="dni?.errors?.['pattern']" class="alert alert-success">
            El DNI debe ser solo 8 digitos
            </section>
            </section>
        </section>


        <section class="form-group m-3">
            <label for="nombres">Nombre Completo:</label>
            <input type="text"  class="form-control" formControlName="nombres">
            <section *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
            <section *ngIf="nombres?.errors?.['required']" class="alert alert-success">
            El nombre es obligatorio
            </section>
            </section>
        </section>

        <section class="form-group m-3">
            <label for="apellidos">Apellidos:</label>
            <input type="text"  class="form-control" formControlName="apellidos">
            <section *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)">
            <section *ngIf="apellidos?.errors?.['required']" class="alert alert-success">
            El apellido es obligatorio
            </section>
            </section>
        </section>

        <section class="form-group m-3">
            <label for="fechanac">Fecha:</label>
            <input type="date"  class="form-control" formControlName="fechanac">
            <section *ngIf="fechanac?.invalid && (fechanac?.dirty || fechanac?.touched)">
            <section *ngIf="fechanac?.errors?.['required']" class="alert alert-success">
            Ingrese la fecha 
            </section>
            </section>
        </section>

        <section class="form-group m-3">
            <label for="sueldo">Sueldo:</label>
            <input type="number"  class="form-control" formControlName="sueldo">
            <section *ngIf="sueldo?.invalid && (sueldo?.dirty || sueldo?.touched)">
            <section *ngIf="sueldo?.errors?.['required']" class="alert alert-success">
            Ingrese su sueldo
            </section>
            </section>
        </section>

        <section class="form-group m-3">
            <label for="comision">Comision:</label>
            <input type="number"  class="form-control" formControlName="comision">
            <section *ngIf="comision?.invalid && (comision?.dirty || comision?.touched)">
            <section *ngIf="comision?.errors?.['required']" class="alert alert-success">
            La comision es obligatoria
            </section>
            <section *ngIf="comision?.errors?.['min'] || comision?.errors?.['max']" >
                La comision no es valida
            </section>
            </section>
        </section>

        <section class="form-group m-3">
            <input type="submit" value="Enviar" class="btn btn-primary">
            <input type="button" value="Refrescar" class="btn btn-success" (click)="Refrescar()">
        </section>
    </form>
</section> -->



<!-- <h1 class="text-center">Form Data</h1>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <section class="form-group m-3">
        <label for="nombres">Nombre:</label>
        <input type="text" maxlength="8" class="form-control" formControlName="nombres"
        [ngStyle]="{'border-color': dni?.invalid && (dni?.dirty || dni?.touched)?'red':'gray'}">
        <section *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
        <section *ngIf="nombres?.errors?.['required']" class="alert alert-success">
        El nombre es obligatorio
        </section>
        </section>
    </section>

    <section class="form-group m-3">
        <label for="apellidos">Apellidos:</label>
        <input type="text"  class="form-control" formControlName="apellidos" [ngStyle]="{'border-color': dni?.invalid && (dni?.dirty || dni?.touched)?'red':'gray'}">
        <section *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)">
        <section *ngIf="apellidos?.errors?.['required']" class="alert alert-success">
        El apellido es obligatorio
        </section>
        </section>
    </section>

    <section class="form-group m-3">
        <label for="dni">Dni:</label>
        <input type="text" maxlength="8" class="form-control" formControlName="dni"
        [ngStyle]="{'border-color': dni?.invalid && (dni?.dirty || dni?.touched)?'red':'gray'}">
        <section *ngIf="dni?.invalid && (dni?.dirty || dni?.touched)">
        <section *ngIf="dni?.errors?.['required']" class="alert alert-success">
        El DNI es obligatorio
        </section>
        <section *ngIf="dni?.errors?.['pattern']" class="alert alert-success">
        El DNI debe ser solo 8 digitos
        </section>
        </section>
    </section>

    <section class="form-group m-3">
        <label for="ciudad">Ciudad:</label>
        <input type="text"  class="form-control" formControlName="ciudad" [ngStyle]="{'border-color': dni?.invalid && (dni?.dirty || dni?.touched)?'red':'gray'}">
        <section *ngIf="ciudad?.invalid && (ciudad?.dirty || ciudad?.touched)">
        <section *ngIf="ciudad?.errors?.['required']" class="alert alert-success">
        La ciudad es obligatoria
        </section>
        </section>
    </section>

    <section class="form-group m-3">
        <input type="submit" value="Enviar" class="btn btn-primary">
    </section>

</form> -->

<section class="container-sm">
    <h2>Form Data</h2>

    <form [formGroup]="registroform" (submit)="send()">

        <section class="form-group m-3">
            <label class="h4" for="nombres">Nombre</label>
            <input class="form-control" type="text" formControlName="nombres">
            <section *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
                <section *ngIf="nombres?.errors?.['required']" class="alert alert-success">
                    el nombre es obligatorio
                </section>
            </section>
        </section>

        <section class="form-group m-3">
            <label class="h4" for="apellidos">Apellidos</label>
            <input class="form-control" type="text" formControlName="apellidos">
            <section *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)">
                <section *ngIf="apellidos?.errors?.['required']" class="alert alert-success">
                    el apellido es obligatorio
                </section>
            </section>
        </section>

        <section class="form-group m-3">
            <label class="h4" for="dni">DNI</label>
            <input formControlName="dni" maxlength="8" class="form-control" type="text" >
            <section *ngIf="dni?.invalid && (dni?.dirty || dni?.touched)">
                <section *ngIf="dni?.errors?.['required']" class="alert alert-success">
                    el dni es obligatorio
                </section>
                <section *ngIf="dni?.errors?.['pattern']" class="alert alert-success">
                    el dni debe ser solo 8 digitos
                </section>
            </section>
        </section>
        
        
        <section class="form-group m-3">
            <label class="h4" for="ciudad">Ciudad:</label>
            <input class="form-control" type="text" formControlName="ciudad">
            <section *ngIf="ciudad?.invalid && (ciudad?.dirty || ciudad?.touched)">
                <section *ngIf="ciudad?.errors?.['required']" class="alert alert-success">
                    la ciudad es obligatoria
                </section>
            </section>
        </section>

        <section class="form-group m-3">
            <button [disabled]="registroform.invalid" type="submit" class="btn btn-primary m-1">submit</button>
        </section>
        <section *ngIf="registroform.valid">
            <h3 class="text-primary">{{mensaje}}</h3>
        </section>
    </form>
</section>